[Desktop Entry]
Name=Thorium Browser
Comment=Navegador Web rápido
Exec=sh -c "exec appimage-run \\$HOME/.local/bin/appimages/Thorium.AppImage \\"\\$@\\"" thorium %U
Terminal=false
Type=Application
Icon=web-browser
Categories=Network;WebBrowser;
